.main-container {
	position:relative;
	margin-left:220px;

}

.content-wrapper {
	color:#444;
	font-size:16px;
	p {
		line-height:18px;
		margin-top:18px;
		margin-bottom:18px;
	}
	.content {
		padding:0 15px;
	}
}


@media(max-width:760px) {
	.main-container {
		margin-left:0px;
	}
}