<!DOCTYPE html>
<html>
<head>
	<title>Red Chat</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="stylesheet" href="/assets/application.css"/>
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		    window.username = /*[[${username}]]*/ 'unknown';
		/*]]>*/
	</script>
	<script tyle="text/javascript" src="/assets/application.js"></script>
</head>
<body>
<div class="nav-wrapper">
	<h3 class="nav-title">Buddy List for <span sec:authentication="name">Bob</span></h3>
	<div class='buddy-list-wrapper'>
	</div>
</div>
<div class="main-container">
	<div class="header-wrapper">
		<a href='#' class='nav-toggle-link'><span class="icon-menu"></span></a>
		<h1>Chat App </h1>
	</div>
	<div class="content-wrapper">
		<div class="chat-container">
			<div class="chat-message-container">
				<div class="opening-content">
					Welcome to Chat App, waiting for users to come online.
				</div>
			</div>
		</div>
		<div class="chat-input-footer">
			<input type="text" name="chat-text" class="chat-input-field"/>
			<button class="chat-submit-button">Submit</button>
		</div>
	</div>
</div>
</body>
</html>