<!DOCTYPE html>
<html>
<head>
	<title>Red Chat</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" href="/assets/application.css"/>
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		    window.username = /*[[${username}]]*/ 'unknown';
		/*]]>*/
	</script>
	<script tyle="text/javascript" src="/assets/application.js"></script>
</head>
<body>
<div class="nav-wrapper">
	<h3 class="nav-title">Buddy List for <span sec:authentication="name">Bob</span></h3>
	<div class='buddy-list-wrapper'>
	</div>
</div>
<div class="main-container">
	<div class="header-wrapper">
		<a href='#' class='nav-toggle-link'><span class="icon-menu"></span></a>
		<h1>Chat App </h1>
	</div>
	<div class="content-wrapper">
		<div class="content">
			<p>Welcome to the Chat App, a secure websocket based chat client</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>
</div>
</body>
</html>